$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.86, 0, 0.07, 1);
$front: white;
$back: lightblue;
html {
  background: white;
}
.direction {
  display: none !important;
}
.mini-dis {
  display: none;
}
.fllow-d {
  display: inline-block;
}
.bousaijigyou {
  color: whitesmoke !important;
}
.ourbousai {
  margin: 2px !important;
}
.bousai-detail p {
  font-size: 15px;
}
.bousai-detail {
  opacity: 0;
  animation-name: slideTextX100;
  animation-fill-mode: forwards;
  color: black !important;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  max-width: 50%;
  display: inline-block;
  margin-top: 0px;
  line-height: 3rem;
  text-align: left;
}
.detail {
  color: gray !important;
  margin-top: 5px;
  max-width: 557px;
}
.explain {
  margin-top: 5%;
}
.sokuhou {
  font-size: 25px !important;
}
.video {
  min-height: 900px;
  max-height: 1000px;
}
.neon {
  min-height: 900px;
  max-height: 1000px;
}
.bousai-w {
  margin-top: 3% !important;
}
.dpass {
  margin-top: 10% !important;
}
.koyo {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding-top: 10px;
  margin: 5px 0px 0px 0px;
  color: #f4f4f4;
}
.koyo-f {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-top: 10px;
  margin: 5px 0px 0px 0px;
  color: #f4f4f4;
}

.info {
  text-align: center;
  width: 100%;
  color: gray;
}
.logo {
  position: absolute !important;
  left: 0px !important;
  top: 0px;
  margin: 10px !important;
  padding: 5px !important;
  font-size: 40px !important;
}
.logo-a {
  text-decoration: none;
}
.popout {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 80px;
  margin-top: 115px;
  padding-top: 80px;
  margin-bottom: 0px;

  @keyframes ani {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 $back;
      color: $front;
    }
    30% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 $back;
      color: $front;
    }
    70% {
      transform: translate3d($d, -$d, 0);
      text-shadow: -$d $d $back;
      color: $front;
    }
    100% {
      transform: translate3d($d, -$d, 0);
      text-shadow: -$d $d $back;
      color: $front;
    }
  }
  span {
    position: relative;
    display: inline-block;
    animation: ani $t infinite alternate $e;
    @for $i from 1 through $n {
      &:nth-last-child(#{$i}n) {
        animation-delay: -$t * $i/$n/2;
      }
    }
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-size: cover;
}
.neon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  letter-spacing: 0.5rem;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

.animate {
  font-size: 50px;
  margin-top: 10px;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}
.c {
  margin-top: 0px;
  color: #ffbf35;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.r {
  margin-top: 0px;
  color: rgb(0, 12, 231);
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.e {
  margin-top: 0px;
  color: #e94848;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.a {
  margin-top: 0px;
  color: #46f44c;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.t {
  margin-top: 0px;
  color: rgb(41, 236, 190);
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.i {
  margin-top: 0px;
  color: #e8f40f;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.v {
  margin-top: 0px;
  color: rgb(1, 241, 49);
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.ve {
  margin-top: 0px;
  color: #ffae06;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.pls {
  margin-top: 0px;
  color: #f30f0f;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
  font-weight: bold;
}
.message {
  margin-top: 0px;
  color: white;
  opacity: 1;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.header-wrapper {
  text-align: center;
}
body {
  text-align: center;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
.image-wrapper {
  text-align: center;
}
.image-wrapper img {
  width: 80%;
  max-width: 1100px;
  margin-left: 10%;
  margin-right: 10%;
}

.menu {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  width: 30%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header ul li {
  float: left;
  width: 50%;
}
.contact {
  width: 30%;
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  display: inline-block;
  width: 30%;
  font-family: "Rubik Gemstones", cursive;
}
.contents-wrapper {
  text-align: center;
  background-color: white;
}

.sealing-wrapper {
  display: inline-block;
  width: 100%;
  max-width: 1500px;
}

.sealing-img {
  width: 50%;
  text-align: right;
}
.dpass-img {
  max-width: 50%;
}
.dpass-img img {
  width: 25%;
}
.elec {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.sealing {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.sealingone {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  text-align: center;
}

.painting-wrapper {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 200px;
  background-color: #222;
}
.painting-title {
  margin-top: 150px;
  text-align: center;
}
.painting-title h2 {
  width: 150px;
  display: inline-block;
  border-radius: 30px;
  border: dotted 4px #dbdbdb;
  padding-top: 5px;
  padding-bottom: 5px;
}
.painting {
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.painting img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}
.contents-wrapper p {
  color: #c0c0c0;
}
.sentence p {
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 0px;
}
.sentence {
  width: 50%;
  text-align: center;
}
.sentence-bousai {
  max-width: 40%;
  text-align: center;
}

.block {
  width: 310px;
  margin-left: 10%;
  margin-top: 8%;
}
.block-bousai {
  max-width: 400px;
  min-width: 250px;
  margin-top: 8%;
  display: inline-block;
  margin: 0px;
  text-align: left;
}
.painting p {
  height: 80px;
  line-height: 30px;
  display: inline-block;
  width: 300px;
}
.button a {
  padding: 13px;
  color: black;
  border: solid black;
  cursor: pointer;
  text-decoration: none;
}
.button a:hover {
  box-shadow: 2px 2px 4px gray;
}
.button a:active {
  box-shadow: none;
}
.button {
  margin-top: 30px;
}
.btm {
  margin-top: 15px;
  margin-bottom: 30px;
}
.painting-right {
  width: 20%;
  text-align: left;
}
.painting-right img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}
.painting-right-l {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding-top: 10px;
  margin: 5px 0px 0px 0px;
  color: #f4f4f4;
}
.painting-right-m {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 5px;
  color: #f4f4f4;
  margin: 0px !important;
}
.painting-left {
  width: 60%;
  margin-left: 10%;
  text-align: center;
}

.paintcenter {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.paintcenter img {
  margin: 0px;
}
.modal {
  display: none;
}
.modalmenu {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: black;
  opacity: 0.8;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: center;
}
.modalmenu ul {
  list-style: none;
  margin-top: 30%;
  padding-left: 0px;
}
.modalmenu ul li {
  margin-bottom: 15px;
  font-size: 18px;
}
.modalmenu a {
  text-decoration: none;
  color: white;
}
.modalmenu img {
  width: 33px;
  height: 33px;
  margin-top: 10px;
}
.fab {
  color: white;
  margin-left: 1%;
}
.header-wrapper a {
  text-decoration: none;
  color: #4682b4;
}

@media screen and (max-width: 1000px) {
  .bousai-detail {
    max-width: 95%;
    padding: 3px !important;
  }
  .detail {
    margin-top: 1%;
    margin-bottom: 0px;
  }
  .sokuhou {
    margin-bottom: 5px !important;
  }
  .ourbousai {
    margin: 0px !important;
  }

  .bousai-detail span {
    font-size: 20px !important;
  }
  .koyo-f {
    font-size: 30px !important;
  }
  .fllow {
    display: none !important;
  }
  .fllow-d {
    display: none !important;
  }
  .direction {
    display: inline-block !important;
  }

  .sealingone {
    flex-direction: column;
    text-align: center;
  }
  .sealing {
    flex-direction: column;
  }
  .sealing-img {
    width: 100%;
    text-align: center;
  }
  .dpass-img {
    max-width: 100%;
  }
  .sentence {
    text-align: center;
    width: 100%;
  }
  .sentence-bousai {
    text-align: center;
    max-width: 100%;
  }
  .block {
    display: inline-block;
    margin: 0px;
  }
  .block-bousai {
    margin: 0px;
    text-align: left;
  }
  .detail-p {
    display: inline-block;
  }
  .block-bousai p {
    display: inline-block;
  }
  .paintcenter {
    flex-direction: column;
    text-align: center;
  }
  .paintcenter p {
    display: block;
    text-align: center;
    width: 100%;
  }
  .painting-left {
    display: inline-block;
    width: 100%;
    margin: 0px 0px;
  }
  .painting {
    display: inline-block;
    width: 100%;
    margin: 0px 0px;
  }
  .painting-right {
    display: inline-block;
    width: 100%;
    margin: 0px 0px;
  }
  .button {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .painting-title {
    margin-top: 100px;
  }
  .art {
    width: 200px;
  }
  .art a {
    width: 200px;
  }
  .arts {
    width: 100%;
  }
  .art img {
    height: 200px;
    width: 200px;
  }
  .pricecard {
    bottom: 71px;
    padding: 5px 20px;
  }
}
@media screen and (max-width: 670px) {
  .detail-p {
    font-size: 15px;
  }
  .logo {
    font-size: 25px !important;
  }
  .bousaijigyou {
    margin-top: 30%;
  }
  .bousai-detail {
    line-height: 2rem;
  }
  .mini-dis {
    display: inline-block;
  }
  .bousai-detail p {
    font-size: 12px;
  }
  .sealing-img img {
    width: 80%;
    height: 80%;
    margin: 0px 10%;
    max-width: 200px;
    max-height: 200px;
  }
  .block {
    width: 100%;
    max-width: 250px;
  }
  .block p {
    font-size: 14px;
  }

  .painting-left img {
    width: 80%;
    height: 80%;
    margin: 0px 10%;
    max-width: 200px;
    max-height: 200px;
  }
  .painting-right img {
    width: 80%;
    height: 80%;
    margin: 0px 10%;
    max-width: 200px;
    max-height: 200px;
  }
  .painting img {
    width: 80%;
    height: 80%;
    margin: 0px 10%;
    max-width: 200px;
    max-height: 200px;
  }
  .paintcenter p {
    height: auto;
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .image-wrapper img {
    width: 90%;
    margin: 0 5%;
  }

  .painting-title {
    margin-top: 30px;
  }

  .painting-title h2 {
    font-size: 20px;
    width: 140px;
    margin-bottom: 70px;
  }
  .rightimg img {
    max-width: 100px;
  }
  .leftimg img {
    max-width: 100px;
  }
  .plus img {
    max-width: 25px;
    max-height: 25px;
    top: 40px;
  }
  .course {
    max-width: 350px;
  }
  .halftab {
    border-top: none;
  }
  .button {
    margin-top: 20px;
  }
  .button a {
    font-size: 14px;
    padding: 13px;
  }
  .header {
    display: flex;
    margin-bottom: 18px;
    width: 90%;
    margin: 0 5%;
  }
  .header-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .modal {
    display: block;
    width: 50%;
    text-align: right;
  }
  .modal img {
    width: 34px;
    height: 34px;
  }
  .halftab p {
    font-size: 13px;
  }
}

/*========= レイアウトのためのCSS ===============*/

p {
  margin: 20px;
  font-size: 20px;
  overflow: hidden; /*左右アニメーションで画面からはみ出る際に出る横スクロールバーを隠す*/
}

/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 35px;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 15px;
}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0; /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0); /*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%); /*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0); /*要素を元の位置に移動*/
    opacity: 1;
  }
}
